<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <p class="nav-link">Saved</p>
      </li>
      <li class="nav-item">
        <form class="form-inline" #searchForm="ngForm" (ngSubmit)="getSearchTerm()">
          <div class="form-group">
            <input type="text" id='searchText' name='searchText' ngModel>
            <button type="submit">Search</button>
            <select name='rating'>
              <option *ngFor="let r of ratings" value={{r}}>{{r}}</option>
            </select>
          </div>
        </form>
      </li>
    </ul>
  </nav>
</div>